@colorA:'blue';  //定义变量，必须要冒号
div{
    color:@colorA
}

.container{
    display: flex;
    .nav-left{
        width: 20%;
        min-width: 180px;
        height: calc(100vh);
        background-color:black;
    }
    .main{
        flex: 1;
        height: calc(100vh);
    }
    .content{
        position: relative;
        padding: 20px;
    }
}