/** 常用色值 **/
/** 常用字体大小 **/
.header {
  background-color: #ffffff;
}
.header .header-top {
  line-height: 60px;
  height: 60px;
  padding: 0 20px;
  text-align: right;
}
.header .header-top a {
  margin-left: 40px;
}
.header .breadcrumb {
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  border-top: 1px solid #f9c700;
}
.header .breadcrumb .breadcrumb-title {
  text-align: center;
}
.header .breadcrumb .wheather {
  text-align: right;
  font-size: 14px;
}
.header .breadcrumb .wheather .date {
  margin-right: 10px;
}
